.heading-text{
    font-family: helvetica neue;
    font-size :30px;
}
.heading-text .heading-subtext{
    font-size: 24px;;
}
.navbar-menu{
    background-color: black;
}
.team-image{
    width:150px;
    height:150px;
}
.team-member-details{
    margin-top:60px;
}
@media only screen and (max-width: 600px) {
    .logo{
        width: 33px;
        height: 35px;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .heading-text{
        font-size: 20px;
    }
    .heading-text .heading-subtext{
        font-size: 15px;;
    }
    .team-member-details{
        margin-top:35px;
    }
}
